/target

temp.lua
test.bat
test.sh
bench.sh
*.opt
*.code-workspace
out.csv
prices.txt
cachegrind.out*
callgrind.out*
xtmemory.out*
heaptrack*

perk_solver
perk_solver.so
perk_solver.exe
perk_solver.dll