#ArgsForm table {
    display: inline-table;
}

#ArgsForm table td,
#ArgsForm table th {
    text-align: left;
}

body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

.progressbar {
    border: solid 1px black;
    border-radius: 1e6px;
    overflow: hidden;
    background-color: rgb(201, 201, 201);
    width: 100%;
}

.progressbar-wrapper {
    display: flex;
}

.progressbar-bg {
    background-color: rgb(0, 128, 0);
    height: 100%;
}

.progressbar-text {
    white-space: nowrap;
    padding-left: 0.5em;
    font-weight: bold;
}