@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans');
@import url('https://fonts.cdnfonts.com/css/pt-serif');

#ArgsForm {
    background-color: #eeeeee;
    padding: 8px 8px 8px 8px;
    box-shadow: 0 3px 8px #dcdcdc;
    margin-bottom: 0;
}

#ArgsForm>div {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1em;
}

#ArgsForm table td,
#ArgsForm table th {
    text-align: left;
}

body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0;
    color: #202122;
}

#content {
    margin: 8px;
}

.btn {
    padding: 0.25em 0.45em;
    border-style: outset;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #36c;
    border-color: #36c;
}

.btn-danger {
    color: #fff;
    background-color: #FF4742;
    border-color: #FF4742;
}

.progressbar {
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
    background-color: #e9ecef;
    width: 100%;
    height: 16px;
}

.progressbar-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

.progressbar-bg {
    background-color: #28a745;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1.5rem 1.5rem;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 1.5rem 0;
    }

    100% {
        background-position: 0 0;
    }
}

.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

.progressbar-text {
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.result {
    display: flex;
    align-items: start;
    gap: 10px;
}

.result-table {
    border-collapse: collapse;
    border: solid 1px #dcdcdc;
    white-space: nowrap;
}

.result-table th {
    background-color: #eeeeee;
    border: solid 1px #dcdcdc;
    padding: 0.4em;
    line-height: 1.65em;
}

.result-table td {
    border: solid 1px #dcdcdc;
    padding: 0.20em 0.45em;
    text-align: right;
}

.result-table.result-alts td:nth-child(3) {
    white-space: normal;
    text-align: left;
}

.tabber {
    display: flex;
    gap: 4px;
    padding-left: 2em;
    border-bottom: solid 1px #dcdcdc;
}

.tab {
    border: solid 1px #dcdcdc;
    border-bottom: none;
    padding: 0.5em;
    font-weight: bold;
    background-color: #f9fafa;
    margin-bottom: -1px;
    transition: 0.2s ease;
}

.tab:hover {
    background-color: #f1f3f3;
    border-color: #dbe3e8;
}

.tab.is-selected {
    background-color: white;
}

.tab.is-selected:hover {
    color: #000;
}

.prices-table img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 0.25em;
}

.prices-container {
    column-count: 2;
    column-gap: 2em;
}

.inline-mat-image {
    vertical-align: middle;
    margin-right: 0.25em;
    width: 25px;
    height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444e5a;
    font-family: 'PT Serif', 'Palatino', 'Georgia', serif;
}

h1,
h2,
h3 {
    border-bottom: 1px solid #e4eaee;
    padding: 0 0 0.15em;
    margin: 1em 0 0.3em 0;
}